h1{
    color: red;
    display: flex;
    justify-content: center;
    align-content: center;
    border: solid;
    background-color: white;
}
h3{
    color: pink;
    display: flex;
    justify-content: center;
    align-content: center;
    border: solid;
    background-color: purple;
}
h4{
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    
}
h2{
    color: cyan;
    display: flex;
    justify-content: left;
    align-content: left;
    
}
h5{
    color: yellow;
    display: flex;
    justify-content: center;
    align-content: center;
}
body{
    background-image:url('Maths.jpg') ;
  }